@import "../../../sass/main";

.newPostInfo {
  margin-top: $panel-padding;
  padding: $panel-padding;
  background-color: $light;
  font-size: $page-font-size;
}
.headlineText {
  margin: 0;
  padding: 0;
  margin-bottom: $panel-padding;
  font-size: 17px;
}


