@import "../../sass/main";

.content {
  margin-top: $panel-margin;
  display: flex;

  font-size: $page-font-size;

  

}
.infoBlock{
  flex:  0 1 200px;
  
}
.userNifts {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  margin-left: $panel-margin;
  width: 50%;
}
.niftList{
  
}