.formWindow {
  align-self: center;
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 500px;
}
.form {
  background-color: rgba($color: $back-color+50, $alpha: 0.4);
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.formHead {
  color: $main-gray;
  font-size: 18px;
  font-weight: bold;
  font-family: $header-font;
  margin-bottom: 30px;
}
.formField {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: stretch;
  font-family: $text-font;
}
.fieldInput {
  display: block;
  margin: 0 10px 10px 10px;
  min-width: 40px;
  resize: vertical;
  flex: 1 0 auto;
  border-radius: 10px;
  border: none;
  padding: 10px;
  &:focus {
    margin: -2px 8px 8px 8px;
    border: 2px solid rgba($color: $main-gray, $alpha: 0.5);
    outline: none;
  }
}
.fieldLabel {
  display: block;
  width: 90px;
  padding-left: $inside-padding;
  font-weight: bold;
  font-size: 16px;
  color: #111;
}
//     form styles
// page form window
.formWindow { 
  align-self: center;
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 500px;

}
.form{
  width: 300px;
  background-color: rgba($color: $back-color+50, $alpha: 0.4);
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.formHead{
  color: $main-gray;
  font-size: 18px;
  font-weight: bold;
  font-family: $header-font;
  margin-bottom: 30px;
}
.formField {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: stretch;
  font-family: $text-font;

}
.fieldInput {
  display: block;
  margin: 0 10px 10px 10px;
  min-width: 40px;
  resize: vertical;
  flex: 1 0 auto;
  border-radius: 10px;
  border: none;
  padding: 10px;
  
  &:focus {
    margin: -2px 8px 8px 8px;
    border: 2px solid rgba($color: $main-gray, $alpha: 0.5);
    outline: none;
  }
}
.fieldLabel{
  padding-left: $inside-padding;
  font-weight: bold;
  font-size: 16px;
  color: #111;
  width: 100%;
  
}

.formBtn {
  border: none;
  outline: none;
  height: 30px;
  border-radius: 5px;
  margin: 0 10px 0 10px;
  color: #fff;
  &:hover {
    cursor: pointer;
  }
  &:active {
    transform: scale(0.95);
  }
}
.formFooter{
  font-size: 12px;
  align-self: stretch;
  padding: 10px;
}
.formFooterLink {
  color: #119;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
