$back-color: #e4ecf0;
$light: #fff;
$main-gray: #888;
$font-size-header: 1.2em;
$panel-margin: 15px;
$panel-padding: 10px;
$inside-padding: 7px;
$header-height: 55px;
$page-font-size: 0.9em;
$header-font: "sans";
$text-font: "monospace";
#root {
    background-color: $back-color;
    display: flex;
}

.siders {
    width: 10%;
}

.headerPart {
    width: 100%;
    height: $header-height;
    background-color: $light;
}

.userProfileName {
    color: $main-gray;
    font-size: $font-size-header;
    font-weight: bold;
    font-family: sans-serif;
}

.appBtn {
    background-color: inherit;
    border: none;
    outline: none;
}

.page {
    flex-grow: 1;
    font-family: sans-serif;
}



.toggler {
    width: 100%;
    background-color: inherit;
    color: $main-gray;
    text-transform: lowercase;
    border: none;
    font-size: 0.9*$page-font-size;
    cursor: pointer;
    outline: none;
    &:hover {
        text-decoration: underline;
    }
}
