@import "../../../sass/main";

@mixin circleIcon($width) {
  width: $width;
  height: $width;
  border-radius: $width;
}
.addNiftPanel{
  
  margin-left: $panel-margin;
  display: flex;
  align-items: flex-center;
  background-color: rgba($color: $back-color+50, $alpha: 0.4);
 padding: $inside-padding;
}
.userMinIcon{
  
  @include circleIcon(50px);
}
#niftItput{
  box-sizing: content-box;
  display: block;
  margin: 10px;
  min-width: 40px;
  resize: vertical;
  flex: 1 0 auto;
  border-radius: 10px;
  border:none;
  padding: 10px;
  &:focus{
    margin: 8px;
    border: 2px solid rgba($color: $main-gray, $alpha: 0.5);
    outline: none;
  }
}