.userContactAside {
  background-color: white;
  width: 90%;
  border: 1px solid black;

  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}

.userContactAside {
  img {
    flex: 0 1 auto;
  }

  span {
    flex: 1 1 auto;
    text-align: center;
  }
}
