@import "../../sass/main";

.header {
    background-color: $light;
    height: $header-height;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.colorSheme{
  display: flex;
  flex-direction: column;
  input{
    border: 0;
    padding: 0;
    border-width: 0;
    background: none;
  }
}
.nav {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.navItem {
    display: flex;
    align-items: center;
    line-height: $header-height;
    margin-right: 20px;
}

.itemImg {
    display: flex;
    align-items: center;
    margin-right: 10px;
    width: 1.3em;
}

.navLink {
    color: $main-gray;
    display: flex;
    flex-direction: row;
    align-items: center;
    text: {
        decoration: none;
        transform: uppercase;
    }
    font: {
        size: 1em;
        family: $header-font;
        weight: bold;
    }
    &:hover {
        color: #4591e4;
    }
}

.settings {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.userIconMini {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    border: 1px solid #589;
    
}
.settingsApp{
  display: flex;
  flex-direction: column;
}
.setingsContainer{
  position: absolute;
  display: flex;
  -ms-flex-order: 1;
  flex-direction: column;
  align-self: flex-end;
  margin-top: 3%;
  align-items: flex-start;
  padding: 1%;
  padding-right: 3%;
  padding-left: 3%;
  background-color: white;
  border: 1px solid;
  border-top: 0px;
  border-color:grey;
}

.userProfileName {
    color: $main-gray;
    font-size: $font-size-header;
    font-weight: bold;
    font-family: sans-serif;
    margin: 0 10px 0 10px;
}
