@import "../../sass/main";

.notificationContainer{
  display: flex;
  flex-direction: row;
  align-content: space-between;
  justify-content: space-between;
  flex-wrap: wrap;
}

.notificationNift{
  margin: 1%;
  width: 23%;
  display: flex;
  justify-content: space-between;
  background-color: white;
  align-content: center;
  flex-direction: column;
  hr{
    width: 99%;
    margin-top: 2%;
    margin-bottom: 2%;
    color:#bababa;
    border-style: solid;
    border-width: 1px;
  }
}

.niftHeader{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  align-content: center;
  font-family: $text-font;
  font-size: 120%;
  justify-content: center;
  margin-top: 1%;
  p{
    margin: 0%;
    font-size: 80%;
    margin-right: 3%;
    opacity: 0.5;
    font-weight: bold;
  }
  div{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: flex-start;
    width: 100%;
    img{
      margin-right: 5%;
      margin-left: 2%;
      width: 46px;
      height: 46px;
    }
    p{
      margin: 0;
      font-size: 110%;
      font-weight: normal;
      opacity: 1;
    }
  }
}

.niftBody{
  display: flex;
  flex-direction: column;
  align-items: center;
  img{
    width: 90%;
  }
  h1{
    color: #3399ff;
    font-weight: normal;
    font-family: $text-font;
    font-size: 250%;
  }
  .interact{
    display: flex;
    flex-direction: row;
    width: 90%;
    align-items: center;
    justify-content: space-between;
    img{
      width: 100%;
    }
    .like{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      margin-bottom: 3%;
        img{
          width: 20%;
          cursor: pointer;
          margin-left: 5%;
          opacity: 0.5;
          &:hover{
            opacity: 1;
          }
        }
      p{
        font-size: 100%;
        margin: 0;
        color: #0d4462;
        font-family: $text-font;
      }
    }
    .repo{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
      margin-bottom: 3%;
      img{
        width: 20%;
        cursor: pointer;
        margin-left: 5%;
        opacity: 0.5;
        &:hover{
          opacity: 1;
        }
      }
      p{
        font-size: 100%;
        margin: 0;
        color: #0d4462;
        font-family: $text-font;
      }
    }
  }
}